{%- comment -%}
    Renders list of products in grid layout

    Accepts:
    - product: {Object} product (required)
    - carousel: {Boolean} Show the product images in carousel. Default: false

    Usage:
    {% render 'product-grid-item', product: product, carousel: carousel %}
{%- endcomment -%}

{%- liquid
  assign columns = settings.products_per_row_on_desktop | plus: 0
  assign columns_mobile = settings.products_per_row_on_mobile | plus: 0
  assign columns_small = 2

  case columns
    when 1
      assign size_desktop = 'one-whole'
    when 2
      assign size_desktop = 'one-half'
    when 3
      assign size_desktop = 'one-third'
    when 4
      assign size_desktop = 'one-quarter'
  endcase

  case columns_mobile
    when 1
      assign size_mobile = 'mobile--one-whole'
    when 2
      assign size_mobile = 'mobile--one-half'
  endcase

  if carousel == true
    assign size_mobile = 'mobile--one-whole'
  endif

  assign product_tags = product.tags | join: ',' | append: ','
  assign preorder = false
  assign on_sale = false
  assign sold_out = false
  assign badge = false
  
  if product_tags contains '_badge_'
    assign badge = product_tags | split: '_badge_'
    assign badge = badge[1] | split: ',' | first | replace: '_', ' '
  endif

  if product_tags contains '_preorder'
    assign preorder = true
  endif

  if product.compare_at_price > product.price
    assign on_sale = true
  endif

  unless product.available
    assign sold_out = true
  endunless

  assign current_variant = product.selected_or_first_available_variant
  assign featured_media = product.featured_media
-%}

<div class="product-grid-item{% if carousel %} carousel__item{% endif %} {{ size_desktop }} {{ size_mobile }}{% if tag %} has-tag{% endif %}"
  {% if carousel %}
    data-product-slide
  {% endif %}
  data-product-id="{{ product.id }}"
>
  {%- comment -%} Image {%- endcomment -%}
  <div class="product-grid-item__image" data-product-media-container>
    {%- assign image = featured_media.preview_image -%}
    {%- if product.media.size > 0 -%}
      <a class="product__media product__media--featured lazyload"
        href="{{ product.url | within: collection }}"
        title="{{ product.title | strip_html | escape }}"
        aria-label="{{ product.title | strip_html | escape }}"
        data-bgset="{% render 'bgset', image: image %}"
        data-sizes="auto"
        data-parent-fit="{{ settings.image_size }}"
        data-aspectratio="{{ image.aspect_ratio }}">
        <span class="visually-hidden">{{ image.alt | default: product.title | strip_html | escape }}</span>
      </a>

      <noscript>
        <a class="product__media product__media--featured"
          href="{{ product.url | within: collection }}"
          title="{{ product.title | strip_html | escape }}"
          aria-label="{{ product.title | strip_html | escape }}"
          style="background-image: url({{ image | img_url: '600x' }})">
          <span class="visually-hidden">{{ image.alt | default: product.title | strip_html | escape }}</span>
        </a>
      </noscript>
    {%- else -%}
      {%- assign image_url_pattern = product.featured_image | img_url: '540x' | replace: '_540x.', '_{width}x.' -%}
      {%- assign image_widths = "[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100]" -%}

      <div class="product__media product__media--featured">
        <a href="{{ product.url | within: collection }}" title="{{ product.title | strip_html | escape }}" aria-label="{{ product.title | strip_html | escape }}">
          <img
            class="product__media__empty no-image-placeholder lazyload"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="{{ image_url_pattern }}"
            data-widths= "{{ image_widths }}"
            data-aspectratio="1"
            data-sizes="auto"
            width="540"
            height="540"
            alt="{{ product.title | strip_html | escape }}">
          <noscript>
            <img
              class="product__media__empty no-image-placeholder"
              src="{{ product.featured_image | img_url: '1024x' }}"
              width="1024"
              height="1024"
              alt="{{ collection.title | strip_html | escape }}">
          </noscript>
        </a>
      </div>
    {%- endif -%}

    {%- render 'product-badge', on_sale: on_sale, sold_out: sold_out, badge: badge, preorder_badge: preorder_badge -%}

    {%- if settings.product_grid_slideshow and section.settings.products_layout != 'carousel' and product.media.size > 1 -%}
      <div class="product__media-slider product__media-slider--mobile" data-product-media-slideshow>
        {%- for media in product.media -%}
          {%- assign image = media.preview_image -%}
          <div class="product__media-slide" data-product-media-slideshow-slide>
            <a class="product__media lazyload"
              href="{{ product.url | within: collection }}"
              title="{{ product.title | strip_html | escape }}"
              aria-label="{{ product.title | strip_html | escape }}"
              data-bgset="{% render 'bgset', image: image %}"
              data-sizes="auto"
              data-parent-fit="{{ settings.image_size }}"
              data-aspectratio="{{ image.aspect_ratio }}">
            </a>
            <noscript>
              <a class="product__media"
                href="{{ product.url | within: collection }}"
                title="{{ product.title | strip_html | escape }}"
                aria-label="{{ product.title | strip_html | escape }}"
                style="background-image: url({{ image | img_url: '600x' }})">
              </a>
            </noscript>
          </div>
        {%- endfor -%}
      </div>

      <div class="product__media-slider product__media-slider--desktop" data-product-media-slideshow>
        {%- for media in product.media -%}
          {%- if media != featured_media -%}
            {%- assign image = media.preview_image -%}
            <div class="product__media-slide" data-product-media-slideshow-slide>
              <a class="product__media lazyload"
                href="{{ product.url | within: collection }}"
                title="{{ product.title | strip_html | escape }}"
                aria-label="{{ product.title | strip_html | escape }}"
                data-bgset="{% render 'bgset', image: image %}"
                data-sizes="auto"
                data-parent-fit="{{ settings.image_size }}"
                data-aspectratio="{{ image.aspect_ratio }}">
              </a>
              <noscript>
                <a class="product__media"
                  href="{{ product.url | within: collection }}"
                  title="{{ product.title | strip_html | escape }}"
                  aria-label="{{ product.title | strip_html | escape }}"
                  style="background-image: url({{ image | img_url: '600x' }})">
                </a>
              </noscript>
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>

    {%- else -%}
      {%- if product.media[1].preview_image != blank and settings.product_grid_hover_image -%}
        <a class="product__media-hover" href="{{ product.url | within: collection }}">
          <div class="product__media-hover-img product__media lazyload"
            data-bgset="{% render 'bgset', image: product.media[1].preview_image %}"
            data-sizes="auto"
            data-parent-fit="{{ settings.image_size }}"
            data-aspectratio="{{ product.media[1].preview_image.aspect_ratio }}">
          </div>

          <noscript>
            <div class="product__media-hover-img product__media" style="background-image: url({{ product.media[1].preview_image | img_url: '600x' }})"></div>
          </noscript>
        </a>
      {%- endif -%}
    {%- endif -%}

    {%- unless settings.quick_button == 'none' -%}
      <div class="btn-wrapper">
        {%- if settings.quick_button == 'view' -%}
          <a class="btn btn--quick-view"
            href="{{ product.url | within: collection }}"
            title="{{ product.title | strip_html | escape }}"
            aria-label="{{ product.title | strip_html | escape }}"
            data-handle="{{ product.handle }}"
            data-button-quick-view>
            {{- 'products.general.quick_view' | t -}}
          </a>
        {%- elsif settings.quick_button == 'buy' -%}
          {%- form 'product', product -%}
            <input type="hidden" name="quantity" value="1">
            <input type="hidden" name="id" data-productid="{{ product.id }}" value="{{ current_variant.id }}">
            <button type="submit" name="add" class="btn btn--quick-buy" data-button-quick-buy>
              <span>{{ 'products.general.add_to_cart' | t }}</span>
              {%- render 'icon-loading' -%}
            </button>
          {%- endform -%}
        {%- endif -%}
      </div>
    {%- endunless -%}
  </div>

  {% comment %} Product info {% endcomment %}
  <div class="product-grid-item__info">
    {% comment %} Title {% endcomment %}
    <a class="product-grid-item__title" href="{{ product.url | within: collection }}" aria-label="{{ product.title | strip_html | escape }}" title="{{ product.title | strip_html | escape }}">
      {{- product.title | strip_html | escape -}}
    </a>

    {% comment %} Price {% endcomment %}
    <a class="product-grid-item__price price" href="{{ product.url | within: collection }}">
      {%- if product.price_varies -%}
        {%- assign product_price_min = product.price_min | money -%}
        {{- 'products.general.from_text_html' | t: price: product_price_min -}}
      {%- else -%}
        {%- if on_sale -%}
          {{ product.price | money }}
          <s>{{ product.compare_at_price | money }}</s>
        {%- else -%}
          {{- product.price | money -}}
        {%- endif -%}
      {%- endif -%}

      {%- if current_variant.unit_price_measurement -%}
        <span class="product__unit-price">
          {{ current_variant.unit_price | money }}
          {%- if current_variant.unit_price_measurement.reference_value != 1 -%}
            {{- current_variant.unit_price_measurement.reference_value -}}
          {%- endif -%}
          {{ current_variant.unit_price_measurement.reference_unit }}
        </span>
      {%- endif -%}
    </a>

    {%- if settings.show_rating -%}
      <a href="{{ product.url | within: collection }}" class="product-grid-item__rating">
        {%- render 'rating', reviews: product.metafields.reviews, show_rating_count: settings.show_rating_count -%}
      </a>
    {%- endif -%}

    {%- if settings.enable_color_swatches -%}
      {%- comment -%} /partials/product-swatch--grid.liquid {%- endcomment -%}

{%- assign file_extension = 'png' -%}
{%- unless product.has_only_default_variant -%}
	<div class="product-grid-item__swatch{% if settings.product_grid_hover_swatches %} product-grid-item__swatch--hover{% endif %} swatch">

		{%- for option in product.options_with_values -%}
			{%- assign color_label = 'color,colour,couleur,colore,farbe,색,色,färg,farve' | split: ',' -%}
			{%- assign downcased_option = option.name | downcase -%}

			{%- if color_label contains downcased_option -%}
				{%- assign option_index = forloop.index0 -%}

				{%- for value in option.values -%}
					{%- assign swatch_color = value | split: ' ' | last | handle -%}
					<div data-value="{{ value | escape }}" class="swatch__element">
						<span class="swatch__color swatch__color--{{ value | handle }}" style="color: {{ swatch_color }}; background-color: {{ swatch_color }}; background-image: url({{ value | handle | append: '.' | append: file_extension | asset_url }})"></span>

						{%- assign link_found = false -%}
						{%- for variant in product.variants -%}
							{%- if variant.options[option_index] == value -%}
								{%- unless link_found -%}
									<a href="{{ variant.url }}" class="swatch__link">{{ value }}</a>
									{%- assign link_found = true -%}
								{%- endunless -%}
							{%- endif -%}
						{%- endfor -%}
					</div>
				{%- endfor -%}
			{%- endif -%}
		{%- endfor -%}

	</div>
{%- endunless -%}
    {%- endif -%}
  </div>
</div>