{%- comment -%} /sections/newsletter.liquid {%- endcomment -%}
{%- assign bg_color = section.settings.bg_color -%}

{%- if bg_color != 'rgba(0,0,0,0)' and bg_color != '' -%}
  {%- style -%}
    #Newsletter--{{ section.id }} {
      background-color: {{ bg_color }};
    }
  {%- endstyle -%}
{%- endif -%}

<section class="newsletter-section" id="Newsletter--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="newsletter">
  <h2>{{ section.settings.title | escape }}</h2>

  {%- if section.settings.subtitle -%}
    {{- section.settings.subtitle -}}
  {%- endif -%}

  <div class="newsletter">
    {%- capture newsletter_id -%}NewsletterSubscription--{{ section.id }}{%- endcapture -%}

    {%- form 'customer', id: newsletter_id -%}
      {%- if form.posted_successfully? -%}
        <div class="note form-success">{{ 'general.newsletter_form.newsletter_success' | t }}</div>
      {%- elsif form.errors -%}
        {{- form.errors | default_errors -}}
      {%- endif -%}

      <input type="hidden" name="contact[accepts_marketing]" value="true">

      <div class="input-group">
        <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.email' | t }}" name="contact[email]" id="Email--{{ section.id }}" class="input-group__field input-group__field--email" aria-label="{{ 'general.newsletter_form.email' | t }}" autocorrect="off" autocapitalize="off" required>

        <span class="input-group__btn-wrapper">
          <button type="submit" name="subscribe" id="SubscribeSubmit--{{ section.id }}" class="input-group__btn" value="">
            <span class="visually-hidden">{{ 'general.accessibility.subscribe_to_newsletter' | t }}</span>
            {%- render 'icon-arrow' -%}
          </button>
        </span>
      </div>
    {%- endform -%}
  </div>

  {%- for block in section.blocks -%}
    {%- render block -%}
  {%- endfor -%}
</section>

{% schema %}
  {
    "name": "Newsletter",
    "settings": [
      {
        "type": "paragraph",
        "content": "Subscribers are added in the Customers section of your site admin."
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Newsletter"
      },
      {
        "type": "richtext",
        "id": "subtitle",
        "label": "Subheading",
        "default": "<p>Subscribe for updates</p>"
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background"
      }
    ],
    "blocks": [
      {
        "type": "@app"
      }
    ],
    "presets": [
      {
        "name": "Newsletter",
        "category": "Text"
      }
    ]
  }
{% endschema %}
